html, body {
    height:100%;
}

#body {
	display: block;
	margin: auto;
	width: auto;
	overflow: hidden;
}

#main {
	background-image: url("../img/JP_17.jpg");

	background-size: cover; 
    height: 100%;
    width: 100%;
    position: fixed;
    /*z-index: -500;*/
    left: 0px;
    top: 0px;
    background-position: top center;
}

/* Center Pane */
#center-pane {
	width: 100%;
	min-height: 100%;
	display: inline-flex;
}

#menu {
	width: 200px;
	height: 100%;
	float: left;
}

#nav {
	height: 306px;
	width: 100%;
}

#social-icons {
	background: rgba(0, 0, 0, 0.6);
	height: 50px;
	width: inherit;
	display: flex;
    text-align: center;
    border-bottom: #ffffff solid 1px;
}

#social-icons .icon img {
    height: 25px;
    width: 25px;
    margin-left: 12px;
    margin-top: 12px;
    -webkit-filter: invert(100%);
}

#footer {
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: inherit;
	display: flex;
    text-align: center;
    font-size: 8pt;
	font-family: 'PT Sans', Arial, sans-serif;
	color: #fff;
}

#footer span {
	margin-top: 10px;
}

#content {
	width: 100%;
	height: inherit;
	float: left;
	text-align: center;
	margin: auto;
	overflow: scroll;
}

/*#content H1 {
	font-size: 30pt;
	font-family: 'PT Sans', Arial, sans-serif;
	color: #fff;
	text-align: center;
	border-bottom: 1px solid #fff;
	padding: 10px 0;
	margin-left: 20px;

}*/

.post {
	background: rgba(0, 0, 0, 0.6);
	max-width: 1000px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0 10px 20px;
	text-align: center;
    border-radius: 10px;
    color: #fff;
}

post p {

}

.post-title{
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	display: inline;
}
.post-title h1{
	padding: 15px;
	width: auto;

}
.post-title h2{
	background: rgba(0, 0, 0, .5);
	float: left;
	margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #4e4e4e;
    border-radius: 4px;
}

/* North Pane */
#north-pane {
	display: inline-flex;
	float: left;
	height: 100px;
	width: 100%;
}

#logo {
	float: left;
}

#logo img{
	width: 200px;
	/*margin: 5px;*/
}

#header {
	height: 100px;
	background-color: #FF9933;
	width: 400px;
	float: left;
}
