html, body {
    height:100%;
}

#body {
	display: block;
	margin: auto;
	text-align: center;
	width: auto;
	height: 900px;
	overflow: hidden;
}

#main {
	background-image: url("../img/JP_2.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
    height: inherit;
    width: inherit;
}

/* Center Pane */
#center-pane {
	width: 1000px;
	max-height: 1000px;
	display: inline;
	height: 500px;
}

#menu {
	width: 200px;
	height: inherit;
	float: left;
}

#nav {
	height: 306px;
	width: 100%;
}

#social-icons {
	background: rgba(0, 0, 0, 0.6);
	height: 50px;
	width: inherit;
	display: flex;
    text-align: center;
    border-bottom: #ffffff solid 1px;
}

#social-icons .icon img {
    height: 25px;
    width: 25px;
    margin-left: 12px;
    margin-top: 12px;
    -webkit-filter: invert(100%);
}

#footer {
	background: rgba(0, 0, 0, 0.6);
	height: 50px;
	width: inherit;
	display: flex;
    text-align: center;
    font-size: 8pt;
	font-family: 'PT Sans', Arial, sans-serif;
	color: #fff;
}

#footer span {
	margin-top: 10px;
}

#content {
	width: auto;
	height: 500px;
	float: left;
}

/* North Pane */
#north-pane {
	display: inline-flex;
	float: left;
	height: 100px;
	width: 100%;
}

#logo {
	float: left;
}

#logo img{
	width: 200px;
	/*margin: 5px;*/
}

#header {
	height: 100px;
	background-color: #FF9933;
	width: 400px;
	float: left;
}
